@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

#nd-sidebar {
    width: auto !important;
}

#nd-notebook-layout {
    --fd-sidebar-col: 268px !important;
    /* 1. 행(Rows) 설정: 헤더, 팝업, 메인 영역 순서 */
    grid-template-rows: auto auto 1fr !important;

    /* 2. 열(Columns) 설정: 5분할 구조 */
    grid-template-columns:
        minmax(16px, 1fr) /* 왼쪽 여백 */
        var(--fd-sidebar-col) /* 사이드바 */
        minmax(
            0,
            calc(
                var(--fd-layout-width, 97rem) - var(--fd-sidebar-col) -
                    var(--fd-toc-width)
            )
        )
        /* 메인 */
        var(--fd-toc-width) /* TOC(목차) */
        minmax(16px, 1fr) !important; /* 오른쪽 여백 */

    /* 3. 영역 이름(Areas) 설정: 가시적으로 매칭 */
    grid-template-areas:
        "header      header      header      header      header"
        "toc-popover toc-popover toc-popover toc-popover toc-popover"
        "sidebar     sidebar     main        toc         ." !important;
}

@media (max-width: 1279px) {
    #nd-notebook-layout {
        /* 2. 열(Columns) 설정: 5분할 구조 */
        grid-template-columns:
            minmax(16px, 1fr) /* 왼쪽 여백 */
            var(--fd-sidebar-col) /* 사이드바 */
            minmax(
                0,
                calc(
                    var(--fd-layout-width, 97rem) - var(--fd-sidebar-col) -
                        var(--fd-toc-width)
                )
            )
            /* 메인 */
            var(--fd-toc-width) /* TOC(목차) */
            16px !important; /* 오른쪽 여백 */
    }
    #nd-notebook-layout:has(#nd-sidebar[data-collapsed="true"]) {
        --fd-sidebar-col: 0 !important;
        --fd-toc-width: 0 !important;
    }
}

@media (max-width: 768px) {
    #nd-notebook-layout {
        --fd-sidebar-col: 0 !important;
    }
}
